<div class="section" style="background-color: black; margin-top: 100px;">
  <div class="container">
    <div id="licence-plate">
      <center>
        <h3 class="category">LICENCE PLATE DETECTION</h3>

        <div id = licence-plate-img >
        <img src="assets/img/landing-img.jpeg" alt="Ready for Scan" *ngIf="landingImage">

          <button class="btn btn-primary" type="button" disabled *ngIf="isImageLoading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>

        <img [src]="imageToShow" alt="Scanned Licence Plate" *ngIf="!isImageLoading && !landingImage">
        <img src="assets/img/Error.png" alt="Could not Scan Licence Plate" *ngIf="errorPage">
      </div>
      </center>
    </div>
  </div>
</div>
<center style="background-color: black;">
      <div>
      <span class="badge badge-success" id = 'licence-number'>Licence Plate Number is:</span>
      </div>
      <div>
      <input type="text" value="{{licence_number}}" *ngIf="!isImageLoading" >
      </div>
</center>
<div style="background-color: black;">
  <center>
    <button class="btn btn-primary btn-round" id="scan-btn" type="button" (click)="getImageFromService()">Scan</button>
    <button class="btn btn-primary btn-round" id="check-btn" type="button" (click)="validateLicenceNumber()">Check Registration</button>
  </center>
</div>
<center>
<div *ngIf="!registered && check" style="background-color: black;">
  <span class="badge badge-success" id = 'check-registration'>This car is not Registered</span>
  <div>
    <button class="btn btn-primary btn-round" id="scan-btn" type="button" (click)="issueTicket()">Issue Ticket</button>
  </div>
</div>
<div *ngIf="registered && check" style="background-color: black;">
  <span class="badge badge-success" id = 'check-registration'>This car is Registered</span>
</div>
</center>


